.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
  }
}

.categories__link {
  display: block;
  color: @white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.categories__item {
  flex-grow: 1;
}

.categories__item:first-child .categories__link {
  background-color: @tiffany-light;
}

.categories__item:last-child .categories__link {
  background-color: @tiffany;
}
