.color {
  padding: 0;

  @media (min-width: @tablet) {
    background-color: @grey;
  }
}

.color__wrapper {
  margin: 0 30px;
  display: grid;

  @media (min-width: @tablet) {
    margin: 0 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

.color__title {
  color: @tiffany-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.color__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
}

.color__name {
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet) {
    font-size: 19px;
  }
}
