.contacts__title {
  margin: 0;
  padding: 0;
  color: @black;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__adress,
.contacts__item-title {
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media (min-width: @tablet) {
    font-size: 17px;
  }
}

.contacts__mail {
  font-size: 14px;

  @media (min-width: @tablet) {
    font-size: 17px;
  }

  &:hover {
    color: @tiffany-hover;
  }

  &:active {
    color: @tiffany-hover;
    text-decoration: none;
  }
}
