.contacts-form {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    background-color: @grey;
  }
}

.contacts-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-form__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
  }
}

.contacts-form__name {
  color: @tiffany-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}


.contacts-form__input {
  color: fade(@black, 30%);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet) {
    font-size: 19px;
  }
}

.contacts-form__item:first-child .contacts-form__input {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

 .contacts-form__item:last-child .contacts-form__input {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
