.hit__wrapper {
  @media (max-width: @mobile-max) {
    width: 260px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

.hit__wrapper picture {
  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
  }

  @media (min-width: @desktop) {
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.hit__header-flex {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: -1;
    flex-direction: row-reverse;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: 1;
  }
}

.hit__name {
  padding: 0;
  margin: 0;
  color: @black;
  font-weight: 700;
  font-size: 25px;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.hit__title {
  padding: 0;
  margin: 0;
  color: @tiffany-light;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    line-height: 17px;
  }
}

.hit__description {
  padding: 0;
  margin: 0;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.hit__options {
  line-height: 20px;

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.hit__price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.hit__order {
  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
