.hit__name {
  padding: 0;
  margin: 0;
  color: @black;
  font-weight: 700;
  font-size: 25px;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.hit__title {
  padding: 0;
  margin: 0;
  color: @tiffany-light;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    line-height: 17px;
  }
}

.hit__description {
  padding: 0;
  margin: 0;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.hit__options {
  line-height: 20px;
}

.hit__price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 20px;
  }
}
