.main-nav {
  position: relative;

  @media (max-width: @mobile-max) {
    display: grid;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 10px 0 0 @black, 0 20px 0 0 @black;
}

@media (max-width: @mobile-max) {
  .main-nav--closed .site-list__item,
  .main-nav--closed .main-nav__search,
  .main-nav--closed .main-nav__cart {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__search {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: fade(@black, 20%);

  &:hover {
    fill: @tiffany-light;
  }

  &:active {
    fill: fade(@tiffany-light, 30%);
  }
}

.main-nav__search-text {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__search-text--visible {
  @media (min-width: @tablet) {
    display: none;
  }
}

.main-nav__cart {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  fill: fade(@black, 50%);

  &:hover {
    color: fade(@black, 60%);
    fill: @tiffany-light;
  }

  &:active {
    color: fade(@black, 30%);
    fill: fade(@tiffany-light, 30%);
  }
}
