.main-nav__search-text {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__cart {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}
