.name {
  padding: 0;

  @media (min-width: @tablet) {
    margin: 0 50px;
    display: grid;
    grid-template-columns: 167px auto;
    grid-template-rows: 204px;
    align-items: start;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 175px auto;
    margin-bottom: 15px;
  }
}

.name__title {
  color: @tiffany-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0 0 29px 0;
  padding: 0;
  width: 100%;

  @media (max-width: @mobile-max) {
    background-image: url("../img/line-form.svg");
    background-repeat: no-repeat;
    background-position: top 8px left 59px;
    background-size: 100% 1px;
  }

  @media (min-width: @tablet) {
    margin-bottom: 0;
    padding-top: 15px;
  }

  @media (min-width: @desktop) {
    padding-left: 61px;
    padding-top: 18px;
  }
}

.name__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: -34px;
  }

  @media (min-width: @desktop) {
    margin-right: 175px;
  }
}

.name__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 22px;

    @media (min-width: @tablet) {
      margin-bottom: 21px;
    }
  }
}

.name__name {
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet) {
    font-size: 19px;
    padding: 0 30px 0 0;
  }
}

.name__input {
  color: fade(@black, 30%);
  font-size: 17px;
  line-height: 18px;
  padding: 17px 0 13px;
  border: none;
  border-bottom: 2px solid @black;

  @media (min-width: @tablet) {
    font-size: 19px;
    flex-grow: 1;
    padding-left: 19px;
  }

  @media (min-width: @desktop) {
    padding: 15px 0 13px 19px;
  }

  &:focus {
    color: @black-text;
  }

  &:hover,
  &:active {
    border-color: @tiffany-form;
  }
}

.name__item:last-child .name__input {
  padding-top: 14px;
}
