.page-main__title {
  position: relative;
  margin: 0;
  padding: 71px 0 120px 0;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  color: @black;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;

  @media (min-width: 570px) and (max-width: @mobile-max) {
    background-size: 100%;
  }

  @media (min-width: @tablet) {
    margin-top: -46px;
    padding: 154px 0 495px 0;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-desktop.jpg");
    background-position: top 0 center;
    z-index: -1;
    border-top: 1px solid @grey-border;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
    padding: 158px 0 494px 0;
    background-size: 100%;
  }
}

.page-main__title br:first-of-type {
  @media (min-width: @tablet) {
    display: none;
  }
}

@media (min-resolution: 2dppx) {
  .page-main__title {
    background-image: url("img/hero-mobile@2x.jpg");

    @media (min-width: @tablet) {
      background-image: url("img/hero-desktop@2x.jpg");
    }
  }
}

.page-main__categories {
  @media (min-width: @tablet) {
    margin: -123px auto 0;
    padding: 0 50px;
  }

  @media (min-width: @desktop) {
    margin-top: -138px;
  }
}

.page-main__hit,
.page-main__reviews {
  position: relative;
}

.page-main__hit::after,
.page-main__reviews::after {
  @media (max-width: @mobile-max) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat;
    background-position: 0 0;
  }

  @media (min-width: @tablet) and (max-width: 1149px) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background-image: url("../img/zigzag-line-tablet.svg");
    background-repeat: repeat;
    background-position: 0 0;
  }
}

.page-main__about-us {
  margin-bottom: 58px;

  @media (min-width: @tablet) {
    margin-bottom: 82px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 89px;
  }
}

.page-main__contacts {
  @media (min-width: @desktop) {
    margin: 0 auto;
  }
}
