.page {
  height: 100%;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: @black-text;
  background-color: @white;
}

.page__body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
}
