.page-form-main__title {
  margin: 0;
  padding: 0;
  color: @black;
  font-weight: 700;
  font-size: 27px;
  background-color: @grey;
  text-align: center;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @tablet) {
    font-size: 53px;
    line-height: 57px;
  }
}


.page-form-main__intro {
  margin: 0 auto;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
  }
}
