.page-footer {
  background-color: @grey;
  padding: 25px 0 23px;

  @media (min-width: @tablet) {
    padding: 51px 0 49px;
  }
}

.page-footer__wrapper {
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    height: auto;
    align-items: flex-start;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.page-footer__logo {
  fill: @black;

  &:hover {
    fill: @tiffany-hover;
  }

  &:active {
    fill: fade(@tiffany-hover, 30%);
  }

  @media (max-width: @mobile-max) {
    display: none;
  }
}

.page-footer__copyright {
  width: 182px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-footer__copyright-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-bottom: 9px;
}

.page-footer__copyright-link {
  fill: @tiffany-light;

  &:hover {
    fill: @tiffany-hover;
  }

  &:active {
    fill: fade(@tiffany-hover, 30%);
  }
}

.page-footer__copyright-link svg {
  display: block;
}
