.page-catalog-main__title {
  margin: 0;
  padding: 0;
  color: @black;
  font-weight: 700;
  font-size: 27px;
  background-color: @grey;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}
