.product {
  @media (min-width: @tablet) and (max-width: 1149px) {
    display: flex;
  }
}

.product__img img {
  @media (max-width: 1149px) {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__title {
  text-decoration: none;
}

.product__title h3 {
  margin: 0;
  padding: 0;
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 20px;
  }
}

.product__title:hover h3 {
  color: fade(@black, 60%);
}

.product__title:active h3 {
  color: fade(@black, 30%);
}

.product__options {
  font-size: 13px;

  @media (min-width: @tablet) {
    font-size: 15px;
  }
}

.product__price {
  color: @black;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 17px;
  }
}

.product__checkout {
  background-color: transparent;
  border: none;
  fill: fade(@black, 50%);
  cursor: pointer;

  &:hover {
    fill: @tiffany-light;
  }

  &:active {
    fill: fade(@tiffany-light, 30%);
  }
}
