.review__content {
  margin: 0 0 31px;
  padding: 0;

  @media (min-width: @tablet) {
    font-size: 17px;
    margin: 0 0 58px;
  }

  @media (min-width: @desktop) {
    margin: 0 0 42px;
  }
}


.review__author-name {
  color: @black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;

  @media (min-width: @tablet) {
    font-size: 18px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
  }
}

.review__toggles {
  margin: 0 auto;
  width: 260px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 173px;
  }
}

.review__toggle-prev,
.review__toggle-next {
  fill: @black;
  background-color: transparent;
  border: 1px solid @grey-border;
  padding: 10px 0;
  cursor: pointer;

  @media (min-width: @tablet) {
    border: none;
    padding-bottom: 11px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 13px;
  }
}

.review__toggle-prev:hover,
.review__toggle-next:hover {
  fill: fade(@black, 60%);
}

.review__toggle-prev:active,
.review__toggle-next:active {
  fill: fade(@black, 30%);
}

.review__toggle-prev {
  padding-right: 3px;
}

.review__toggle-next {
  padding-right: 4px;
}
