.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    flex-grow: 1;
    align-self: flex-end;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (max-width: @mobile-max) {
    padding: 28px 0 27px 76px;
    background-color: @white;
    border-bottom: 1px solid @grey-border;
  }


  @media (min-width: @tablet) {
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
  }

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

.site-list__item:nth-child(3),
.site-list__item:nth-child(4) {
  display: none;

  @media (min-width: @desktop) {
    display: block;
    padding-top: 20px;
  }
}

.site-list__item:nth-child(1) {
  @media (max-width: @mobile-max) {
    margin-top: 23px;
  }

  @media (min-width: @tablet) and (max-width: 1149px) {
    margin-right: 36px;
  }

  @media (min-width: @desktop) {
    padding: 32px 35px 31px 0;
    border-right: 1px solid @grey-border;
  }
}

.site-list__item:nth-child(2) {
  @media (min-width: @desktop) {
    margin-left: 35px;
    padding: 32px 0 31px 0;
  }
}

.site-list__item:nth-child(3) .site-list__link,
.site-list__item:nth-child(4) .site-list__link {
  @media (min-width: @desktop) {
    font-size: 15px;
  }
}

.site-list__item:nth-child(4) {
  @media (min-width: @desktop) {
    margin-left: 35px;
  }
}
